{% extends 'base.html' %}

{% block title %}Cluster Detail{% endblock %}


{% block content %}
<h1>Cluster Details</h1>

<p><strong>Cluster ID:</strong> {{ cluster.cluster_id }}</p>
<p><strong>Cluster Name:</strong> {{ cluster.name }}</p>

<h2>Stations in this Cluster</h2>
{% if stations %}
<table>
    <thead>
        <tr>
            <th>Station Code</th>
            <th>Station Name</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station.nlc_code }}</td>
            <td><a href="{% url 'station_details' station.nlc_code %}">{{ station.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No stations are associated with this cluster.</p>
{% endif %}
{% endblock %}