{% extends 'base.html' %}

{% block title %}Station Grouop Detail{% endblock %}


{% block content %}
<h1>Station Group Details</h1>

<p><strong>Group ID:</strong> {{ group.group_id }}</p>
<p><strong>Group Name:</strong> {{ group.name }}</p>

<h2>Stations in this Group</h2>
{% if stations %}
<table>
    <thead>
        <tr>
            <th>Station Code</th>
            <th>Station Name</th>
        </tr>
    </thead>
    <tbody>
        {% for station in stations %}
        <tr>
            <td>{{ station.nlc_code }}</td>
            <td><a href="{% url 'station_details' station.nlc_code %}">{{ station.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No stations are associated with this group.</p>
{% endif %}

{% endblock %}